<h1>Welcome to RPS</h1>

<p>The aim of the game is: Two players draw hands. On the count of three or "rock, paper, scissors" both players<br>
draw hands showing either a rock a paper or sicssors. The rock beats scissors, the scissors beats paper and the paper<br>
beats the rock. Good luck!</p>
